html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: white;
  scrollbar-width: none;
}

body h1 {
  font-size: 4rem;
}

body h2 {
  font-size: 3rem;
  padding: 0.5rem 0 0.5rem;
  margin: 0 auto;
}

body h3 {
  font-size: 1.8rem;
  padding: 0.5rem 0rem;
}

body p {
  font-size: 1.1rem;
  margin: 0.25rem auto;
  padding: 0.25rem;
}

body a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#042839), color-stop(#042839), color-stop(#042839), color-stop(#042839), color-stop(#042839), color-stop(#07384d), color-stop(#0b4962), color-stop(#0d5b77), color-stop(#0f6d8d), color-stop(#2f719a), color-stop(#4a75a4), color-stop(#6478ac), color-stop(#a77256), color-stop(#9f6061), to(#92644a));
  background-image: linear-gradient(to bottom, #042839, #042839, #042839, #042839, #042839, #07384d, #0b4962, #0d5b77, #0f6d8d, #2f719a, #4a75a4, #6478ac, #a77256, #9f6061, #92644a);
}

/***************************
Particle Styles
****************************/
.particle-div {
  position: absolute;
}

.particle-div particle-background {
  z-index: -10;
}

.particle-div #tsparticles {
  width: 100vw;
  height: 100vh;
}

/***************************
Landing Page
****************************/
.landing-page {
  background-image: url("../assets/header-background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 100;
}

.landing-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.5rem 0;
  text-transform: uppercase;
  z-index: 100;
  cursor: pointer;
  position: fixed;
  width: 99%;
}

.landing-page .header img {
  width: 55px;
}

.landing-page .header nav a {
  font-family: monospace;
  padding: 0 1rem;
  font-size: 1rem;
  text-shadow: 1px 1px 1px black;
}

.landing-page .header nav a:hover {
  text-decoration: underline;
}

.landing-page .header nav .active {
  color: orange;
}

.landing-page .typewriter-div {
  color: whitesmoke;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'lato heavy';
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .landing-page .typewriter-div {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 650px) {
  .landing-page .typewriter-div {
    font-size: 3rem;
  }
}

@media screen and (max-width: 554px) {
  .landing-page .typewriter-div {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 464px) {
  .landing-page .typewriter-div {
    font-size: 2rem;
  }
}

@media screen and (max-width: 370px) {
  .landing-page .typewriter-div {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 280px) {
  .landing-page .typewriter-div {
    font-size: 1.25rem;
  }
}

.landing-page .short-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.landing-page .short-bio p {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .landing-page .short-bio p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 650px) {
  .landing-page .short-bio p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 554px) {
  .landing-page .short-bio p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 464px) {
  .landing-page .short-bio p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 370px) {
  .landing-page .short-bio p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 280px) {
  .landing-page .short-bio p {
    font-size: 0.9rem;
  }
}

.landing-page .enabled {
  opacity: 1;
}

.fa-chevron-circle-down {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.fa-chevron-circle-down:hover {
  z-index: 100;
  opacity: 1;
}

/***************************
About
****************************/
.about {
  z-index: 101;
  max-height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: lato;
}

.about section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 4px solid whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 10px black;
          box-shadow: 10px 10px 10px black;
  padding: 1.2rem;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about section h2 {
  font-weight: bold;
}

.about section .profile-picture {
  -webkit-box-shadow: 4px 4px 2px black;
          box-shadow: 4px 4px 2px black;
  border-radius: 100%;
  width: 20rem;
  margin: 0.5rem;
}

.about section .text-and-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about section article {
  margin-left: 1rem;
}

.about section p {
  font-size: 1.2rem;
  text-align: justify;
}

.about section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin: 1.25rem auto 0.5rem;
  padding: 0.5rem;
  background-color: whitesmoke;
  cursor: pointer;
}

.about section button img {
  width: 35px;
  margin: 2px;
}

@media screen and (max-width: 1024px) {
  .about section {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    padding: 1rem;
    margin: 0.25rem;
    text-align: center;
  }
  .about section article {
    margin: 0;
  }
  .about section .profile-picture {
    width: 15rem;
  }
  .about section .text-and-link {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .about section {
    width: 86%;
    margin: 0.1rem;
  }
  .about section .profile-picture {
    width: 10rem;
  }
  .about section .text-and-link h2 {
    padding: 0;
    margin: 0;
  }
}

/***************************
Skills
****************************/
.skills {
  z-index: 101;
  max-height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato;
}

.skills h2 {
  font-weight: bold;
}

.skills .skills-container {
  width: 32%;
}

.skills .skills-container h3 {
  font-weight: bold;
  margin-top: 2rem;
  border-bottom: 1.8px solid whitesmoke;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.skills .skills-container p {
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
}

@media screen and (max-width: 1440px) {
  .skills .skills-container {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .skills .skills-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .skills .skills-container {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .skills .skills-container {
    width: 80%;
  }
}

/***************************
Projects
****************************/
.projects {
  z-index: 101;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: lato;
}

.projects h2 {
  margin: 0.1rem auto 0;
  font-weight: bold;
}

.projects .project {
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 10px black;
          box-shadow: 10px 10px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 70%;
  height: 35vh;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.projects .project .project-description {
  background-color: #1c1629;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1.5rem;
  text-align: justify;
}

.projects .project .project-description p {
  margin: 1rem 0.5rem;
}

.projects .project .project-description .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.projects .project .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%;
}

.projects .project img {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .projects .project {
    height: 38vh;
    width: 80%;
  }
  .projects .project .project-description {
    width: 40%;
  }
  .projects .project .project-description h3 {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0.75rem;
  }
  .projects .project .project-description p {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0.5rem;
  }
  .projects .project .project-description .link-wrapper p {
    margin: 0 0.5rem;
  }
  .projects .project .image-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .projects .project .project-description {
    width: 55%;
  }
  .projects .project .image-wrapper {
    width: 45%;
  }
}

@media screen and (max-width: 510px) {
  .projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .projects .project .project-description {
    width: 100%;
  }
}

.projects .project:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

/***************************
Contact
****************************/
.contact {
  font-family: lato;
  font-weight: bold;
  z-index: 101;
  max-height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  margin: 0 auto;
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  border-radius: 0.7vw;
  padding: 2rem 2rem 1.5rem;
  -webkit-box-shadow: 10px 10px 10px black;
          box-shadow: 10px 10px 10px black;
  background-color: #042839;
}

.contact input {
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 75%;
  border-radius: 0.7vw;
  background-color: whitesmoke;
  font-family: lato;
}

.contact textarea {
  font-size: 1rem;
  font-family: lato;
  border-radius: 0.7vw;
  padding: 0.7rem 0rem 0rem 1rem;
  width: 90%;
  height: 200px;
  background-color: whitesmoke;
}

.contact button {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.7vw;
  color: gray;
  background-color: inherit;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: not-allowed;
}

.contact .error {
  font-size: 1rem;
}

.contact .enabled {
  cursor: pointer;
  background-color: #024302;
  color: white;
}

.contact .enabled:hover {
  -webkit-box-shadow: 3px 3p 3px #442954;
          box-shadow: 3px 3p 3px #442954;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.contact .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.contact .footer #github-footer {
  width: 70px;
}

.contact .footer #linkedin-footer {
  width: 44px;
}

@media screen and (max-width: 1440px) {
  .contact .contact-form {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .contact .contact-form {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .contact .contact-form {
    width: 70%;
  }
  .contact .contact-form input {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .contact .contact-form {
    width: 80%;
  }
  .contact .contact-form input {
    width: 80%;
  }
}
/*# sourceMappingURL=appStyles.css.map */