//CSS RESET

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
textarea,
input,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font: inherit;
}
//HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//!!Variables
$largeLaptop: 1440px;
$smallLaptop: 1024px;
$tablet: 768px;
$smallTablet: 554px;
$largePhone: 450px;
$phone: 380px;
$smallPhone: 350px;
$foldPhone: 280px;
$mainColor: #eae7dc;
$secondaryColor: #d8c3a5;
$fontColor: #8e8d8a;
$headingColor: #8e8d8a;

//Main App Styles
body {
  color: white;
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
    padding: 0.5rem 0 0.5rem;
    margin: 0 auto;
    font-weight: bold;

    @media screen and (max-width: $largeLaptop) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: $smallLaptop) {
      font-size: 2.4rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 2.3rem;
    }
    @media screen and (max-width: $largePhone) {
      font-size: 2.2rem;
    }
    @media screen and (max-width: $phone) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: $smallPhone) {
      font-size: 1.7rem;
    }
  }
  h3 {
    font-size: 1.8rem;
    @media screen and (max-width: $smallLaptop) {
      font-size: 1.7rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: $smallTablet) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: $largePhone) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: $phone) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: $smallPhone) {
      font-size: 1.2rem;
    }
  }

  p {
    font-size: 1.5rem;
    @media screen and (max-width: $smallLaptop) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: $smallTablet) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: $largePhone) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: $phone) {
      font-size: 1rem;
    }
    @media screen and (max-width: $smallPhone) {
      font-size: 0.9rem;
    }
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    @media screen and (max-width: $smallLaptop) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: $tablet) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: $smallTablet) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: $largePhone) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: $phone) {
      font-size: 1rem;
    }
    @media screen and (max-width: $foldPhone) {
      font-size: 0.9rem;
    }
  }
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  position: relative;
  overflow: hidden;
  font-family: 'inconsolata', 'open sans', Roboto, monospace;
}
/*******************************************************************************************
Particle Styles
********************************************************************************************/
.particle-div {
  position: absolute;
  particle-background {
    z-index: -10;
  }
  #tsparticles {
    width: 100vw;
    height: 100vh;
  }
}

/*******************************************************************************************
Landing Page
********************************************************************************************/
.landing-page {
  background-image: url('../assets/header-background.jpg');
  background-color: $secondaryColor;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  z-index: 100;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0;
    text-transform: uppercase;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    width: 99%;

    img {
      width: 55px;

      @media screen and(max-width: $largePhone) {
        width: 47.5px;
      }

      @media screen and(max-width: $smallPhone) {
        width: 45px;
      }
    }

    nav {
      a {
        padding: 0 1rem;
        font-size: 1.1rem;
      }
      a:hover {
        text-decoration: underline;
        font-weight: bold;
      }
      .active {
        color: $headingColor;
      }

      @media screen and (max-width: $smallTablet) {
        a {
          font-size: 1rem;
          padding: 0 0.75rem;
        }
      }
      @media screen and (max-width: $largePhone) {
        a {
          font-size: 0.9rem;
        }
      }

      @media screen and (max-width: $phone) {
        a {
          font-size: 0.8rem;
          padding: 0 0.5rem;
        }
      }
      @media screen and (max-width: $smallPhone) {
        a {
          font-size: 0.6rem;
        }
      }
    }
  }

  //Name Typewriter
  .typewriter-div {
    color: whitesmoke;
    font-size: 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    @media screen and (max-width: $smallLaptop) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 650px) {
      font-size: 3rem;
    }
    @media screen and (max-width: $smallTablet) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: $largePhone) {
      font-size: 2rem;
    }
    @media screen and (max-width: $phone) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: $foldPhone) {
      font-size: 1.25rem;
    }
  }
  .enabled {
    opacity: 1;
  }
}
//Landing page down arrow
.fa-chevron-circle-down {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.fa-chevron-circle-down:hover {
  z-index: 100;
  opacity: 1;
}

/*******************************************************************************************
About
*********************************************************************************************/
.about {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;

  section {
    display: flex;
    border-left: 4px solid $secondaryColor;
    border-top: 4px solid $secondaryColor;
    padding: 1.2rem;
    padding-bottom: 4rem;
    width: 40%;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: bold;
      color: $headingColor;
    }

    .text-and-link {
      display: flex;
      width: 88%;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;

      .resume-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        button {
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;

          img {
            width: 100px;
            transition: all 0.5s ease-in-out;
          }
          img:hover {
            transform: scale(1.15);
          }
        }
        .fa-code {
          font-size: 3rem;
          transition: all 0.5s ease-in-out;
        }
        .fa-code:hover {
          transform: scale(1.15);
        }
      }
    }
    article {
      margin-left: 1rem;
      p {
        padding: 0.2rem;
        color: $headingColor;
      }
    }

    @media screen and (max-width: $largeLaptop) {
      width: 60%;
    }
    @media screen and (max-width: $smallLaptop) {
      width: 80%;
    }
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      width: 75%;
      padding: 1rem;
      margin: 0.25rem;
      text-align: center;
      article {
        margin: 0;
      }

      .text-and-link {
        width: 100%;
        align-items: center;
      }
    }
    @media screen and (max-width: $largePhone) {
      width: 90%;
      margin: 0.1rem;

      .text-and-link {
        article {
          h2 {
            padding: 0;
            margin: 0;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
    @media screen and (max-width: $phone) {
      width: 95%;
      padding-top: 0.1rem;
      .text-and-link {
        article {
          h2 {
            padding: 0;
            margin: 0;
          }
        }
        .resume-text {
          button {
            img {
              width: 80px;
            }
          }
          .fa-code {
            font-size: 2.5rem;
          }
        }
      }
    }
    @media screen and (max-width: $smallPhone) {
      width: 98%;
      .text-and-link {
        article {
          p {
            font-size: 0.85rem;
          }
        }
        .resume-text {
          button {
            img {
              width: 60px;
            }
          }
          .fa-code {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

/*******************************************************************************************
Skills
********************************************************************************************/

.skills {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $secondaryColor;
  h2 {
    font-weight: bold;
  }
  .skills-container {
    margin-top: 2rem;
    width: 32%;
    h3 {
      font-weight: bold;
      margin-top: 2rem;
      border-bottom: 1.8px solid whitesmoke;
      padding-bottom: 1rem;
      text-align: center;
      width: 100%;
    }
    p {
      text-align: center;
      margin: 1rem;
    }
  }
  @media screen and (max-width: $largeLaptop) {
    .skills-container {
      width: 45%;
    }
  }
  @media screen and (max-width: $smallLaptop) {
    .skills-container {
      width: 55%;
    }
  }
  @media screen and (max-width: $tablet) {
    .skills-container {
      width: 65%;
    }
  }
  @media screen and (max-width: $largePhone) {
    h2 {
      transform: translateY(35px);
    }
    h3 {
      margin-top: 1rem;
    }
    p {
      margin: 0.8rem;
    }
    .skills-container {
      width: 85%;
    }
  }
  @media screen and (max-width: $phone) {
    p {
      margin: 0.5rem;
    }
    .skills-container {
      width: 90%;
    }
  }
  @media screen and (max-width: $smallPhone) {
    .skills-container {
      width: 95%;
    }
  }
}

/*******************************************************************************************
Projects
********************************************************************************************/

.projects {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: $mainColor;
  padding-bottom: 3rem;

  h2 {
    margin: 1rem auto;
    font-weight: bold;
    transform: translateY(15px);
    text-align: center;
    color: $headingColor;
  }
  .project {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 70%;
    transition: all 0.6s ease-in-out;
    min-height: 20vh;
    max-height: 40vh;

    box-shadow: 5px 5px 5px $headingColor;
    margin: 1.5rem auto;

    .project-description {
      background-color: $secondaryColor;
      width: 40%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 1.5rem;
      text-align: justify;
      h3 {
        text-align: center;
      }
      p {
        margin: 0.5rem 0.5rem;
        text-align: center;
      }

      .link-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        a:hover {
          color: $fontColor;
        }
      }
    }

    .image-wrapper {
      display: flex;
      justify-content: center;
      width: 60%;
    }
    img {
      width: 100%;
      overflow: hidden;
    }

    @media screen and (max-width: $largeLaptop) {
      max-height: 50vh;
      width: 80%;

      .project-description {
        width: 40%;
        h3 {
          padding-bottom: 0.75rem;
        }

        p {
          margin: 0 auto;
          padding: 0;
          padding-bottom: 0.5rem;
        }

        .link-wrapper {
          p {
            margin: 0 0.5rem;
          }
        }
      }
      .image-wrapper {
        width: 60%;
      }
    }
    @media screen and (max-width: $tablet) {
      max-height: 60vh;
      width: 85%;
      .project-description {
        width: 55%;
      }
      .image-wrapper {
        width: 45%;
      }
    }
    @media screen and (max-width: $smallTablet) {
      width: 90%;
      flex-direction: column;
      height: auto;
      .project-description {
        width: 100%;
      }
    }
  }
  .project:hover {
    transform: scale(1.01);
  }
}

/*******************************************************************************************
Contact
********************************************************************************************/

.contact {
  font-weight: bold;
  z-index: 101;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: $secondaryColor;

  h2 {
    margin: 0.5rem auto;
    transform: translateY(15px);
  }

  .contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: $mainColor;
    border-radius: 0.3vw;
    padding: 2rem 2rem 1.5rem;
    box-shadow: 5px 5px 5px $headingColor;
  }
  input {
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 75%;
    border-radius: 0.3vw;
    background-color: whitesmoke;
  }
  textarea {
    font-size: 1rem;
    border-radius: 0.3vw;
    padding: 0.7rem 0rem 0rem 1rem;
    width: 90%;
    height: 200px;
    background-color: whitesmoke;
  }

  button {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3vw;
    border: none;
    transition: all 0.5s ease-in-out;
    cursor: not-allowed;
    background-color: inherit;
  }

  .error {
    font-size: 1rem;
    color: $fontColor;
  }

  .enabled {
    cursor: pointer;
    background-color: $secondaryColor;
    color: $fontColor;
  }
  .enabled:hover {
    transform: scale(1.02);
  }

  .footer {
    display: flex;
    min-width: 200px;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    #github-footer {
      width: 50px;
    }
    #linkedin-footer {
      width: 45px;
    }
  }
  @media screen and (max-width: $largeLaptop) {
    .contact-form {
      width: 40%;
    }
  }
  @media screen and (max-width: $smallLaptop) {
    .contact-form {
      width: 55%;
    }
  }
  @media screen and (max-width: $tablet) {
    .contact-form {
      width: 70%;
      input {
        width: 70%;
      }
    }
  }
  @media screen and (max-width: $largePhone) {
    .contact-form {
      width: 80%;
      padding: 1rem 1.5rem;
      input {
        width: 80%;
        margin-bottom: 1rem;
        padding: 0.25rem;
      }
      textarea {
        height: 150px;
      }
    }
    .footer {
      #github-footer {
        width: 46px;
      }
      #linkedin-footer {
        width: 41px;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .footer {
      #github-footer {
        width: 41px;
      }
      #linkedin-footer {
        width: 36px;
      }
    }
  }
}
